<form onsubmit="submitform(event)" id="name">
       
    <input type="text" id="text"  placeholder="Введите текст" >
    <input type="submit" value="Отправить">
  </form>
<script>
  function submitform(event) {
    event.preventDefault();
    const input = document.getElementById('text')
    const string = input.value;
    const result = document.createElement('p')
    result.innerText = string;
    if (/[\!\@\#\&\$\*\%]/.test(string)) {
      result.style.color = "#f00";
    } else if (string.length > 3) {
  
      result.style.color = "#0f0";
    }
    form = document.getElementById("name");
    document.body.insertBefore(result, form)
    input.value = "";
  }
</script>